@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg--color: #ffff;
    --main--color: #1A73E8;
    --second--color: #212529;
    --Bg-lightDeep-color: #E9ECEF;
    --Bg-light-color: #F8F9FA;
}

/* ---------header Section----------- */
.header-notification {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--main--color);
    color: var(--bg--color);
    justify-content: center;
    align-items: center;
}

.header-notification p {
    font-size: .85rem;
}

.header-notification a {
    text-decoration: none;
    color: var(--second--color);
    height: 2rem;
    width: 10rem;
    background-color: var(--bg--color);
    font-size: .85rem;
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    margin-left: 2rem;
}

/* ---------------------header navbar--------------- */

.container0 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 9%;
}

.header {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}


.navbar {
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--second--color);
    font-size: 1rem;
    font-weight: 600;
    margin: 0 10px;
}

.cart {
    display: flex;
    width: 300px;
    justify-content: end;
    align-items: center;
}

.cart a{
    margin: 0 10px;
}

.carticon {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50px;
    height: 30px;
}

.fa-magnifying-glass {
    color: var(--second--color);
}

.fa-cart-shopping {
    color: var(--second--color);
}

.carticon p {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main--color);
    display: flex;
    align-items: center;
    font-size: .65rem;
    justify-content: center;
    color: var(--bg--color);
    margin-top: -20px;
}

.carticon a {
    position: relative;
    text-decoration: none;
    margin: 0 10px;
}

.GetButton {
    background-color: var(--main--color);
    color: var(--bg--color);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

/* ----------------------Hero Section------------ */

.container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--Bg-light-color);
}

.Containerview {
    align-items: center;
}

.Containerview p {
    text-align: center;
    font-size: 1.5rem;
}

.Containerview p span {
    font-weight: 500;
    color: var(--main--color);
}
.Containerview h1 {
    display: flex;
    font-size: 3.5rem;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}
.herobutton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 25vw;
}

.herobutton a {
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--bg--color);
}

.ViewDemo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 40%;
    padding: 10px 15px;
    background-color: var(--main--color);
    border-radius: 5px;
}

.StartCreating {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 40%;
    padding: 10px 15px;
    background-color: var(--second--color);
    border-radius: 5px;
}

.fa-circle-play {
    font-size: 2.5rem;
    width: 10%;
}

.herobuttonbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Checkmark {
    display: flex;
    margin: 50px 0 0 0;
}

.Checkmark p {
    font-size: 1rem;
    margin: 0 10px;

}

.fa-check {
    color: green;
}

.fa-star {
    color: orange;
}

/* ---------------------------------Review and project Section--------------------------------- */

.Second-Container {
    width: 100%;
}

.CircleBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CircleBox p {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 50px 0 0 0;
    height: 40px;
    width: 800px;
    border: 1px solid var(--second--color);
}

.fa-circle-exclamation {
    color: var(--second--color);
    margin: 0 10px 0 0;
}

.Trustedby {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0 0 0;
}

.Trustedby p {
    font-size: 1.5rem;
}

.Trustedby p span {
    color: var(--main--color);
    font-weight: 600;
}

.fa-plus {
    color: var(--main--color);
    font-size: 1rem;
}

.reviewcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 9%;
    margin-top: 80px;
}

.reviewcolumn1 {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Reviewcolumn1box {
    display: flex;
}

.Reviewcolumn1box p {
    background-color: var(--Bg-lightDeep-color);
    padding: 15px;
    width: 75%;
    position: relative;
    align-self: flex-end;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Reviewcolumn1box p::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: 0;
    right: -20px;
    clip-path: polygon(00% 0%, 100% 0, 0% 100%, 0 50%);
    background-color: var(--Bg-lightDeep-color);


}

.Nameandstar {
    margin-left: 40px;
    width: 25%;
}

.Nameandstar h3 {
    font-size: 1rem;
    font-weight: 600;
}


.Nameandstar h4 {
    font-size: .85rem;
    font-weight: 300;
}


/* ---------------------what we have on this project--------------- */

.whatwehave {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
}

.whatrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whatrow h3 {
    font-size: 2.5rem;   
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 0 35px;
}

.row p {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.reviewsectioicon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0 0;
}

.iconsection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconsection img {
    height: 18px;
    margin: 0 15px;
}

.Oldversion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.checkoldversion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkoldversion p {
    font-size: .85rem;
    margin: 0 10px;
}

.checkoldversion a {
    font-size: .85rem;
    margin: 0 10px;
}

/* ------------------ what we Get?--------------- */

.container3 {
    height: 150px;
    width: 100%;
    border-top: 2px solid var(--Bg-lightDeep-color) ;
    border-bottom: 2px solid var(--Bg-lightDeep-color) ;
    background-color: var(--Bg-light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container3 h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.container3 h1 span {
    color: var(--main--color);
}

/* -------------------------Our Package ------------------ */

.container4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
}

.Package {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 9%;
    height: 500px;
}

.packagecolumn1 {
    width: 45%;
}

.column2box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.photo1 {
    width: 50%;

}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo1 img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 8px;
}

.photo1 h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 15%;
    margin-top: 15px;
}
.photo1 p {
    font-size: 1rem;
    font-weight: normal;
    margin: 0 15%;
    margin-top: 10px;

}
.photo1 a {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 15%;
    margin-bottom: 30px;
    padding: 10px 0;
    display: block;
}

/* -------------------Plus Circle------------- */

.pluscircle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px dotted var(--second--color);
}

.pluscircle i {
    font-size: 2rem;
    color: var(--second--color);
}